@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 	#708090;
    font-family: 'Cairo', sans-serif;
  }


div{
  background-color:  	#708090;
}



img {
  width: 375px;
  height: 557px;
  background-color: #708090;
  display: block;
  margin-left: 8%;
  margin-top: 38px;
  margin-bottom: 10px;

  
 
}

textarea{
  display: block;
  width: 342px;
  height: 138px;
  margin-left: 11%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #DCDCDC;
  font-family:'Cairo', sans-serif;
  
}

button{
  display: block;
  margin-left: 11%;
  width: 342px;
  height: 64px;
  border-radius: 10px;
  background-color:	#363636;
  color: #fff;
}

button:hover{
  background-color:#228B22;
}



ul{
 display: block;
 margin-left: 10%;
 background-color:#708090;

}

li{
  width: 342px;
  height: 60px;
  text-align: center;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color:  #DCDCDC;
  color: black;
  list-style: none;
}
